html, body {
    padding:0;
    margin:0;
}



/* BEGIN FILEPICKER STYLES */

header {
    background:linear-gradient(#eee, #ddd);
    height:65px;
}
header > h1 {
    padding:0 15px;
    margin:0;
    line-height:65px;
    font-size:1.4em;
}

/* BUTTONS & GENERAL UI */
a.provision {
    background: linear-gradient(#4EB4C9, #49ABC8);
    padding: 7px 14px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0 1px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.2);
    left: 50%;
    display: inline-block;
    margin-left: -120px;
    width: 210px;
    top: 50%;
    margin-top: 65px;
}

/* TABS STYLING */
#tab-container {
    background:linear-gradient(#ddd, #ccc);
    position: absolute;
    display: -webkit-flex;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#tab-container > ul {
    background:linear-gradient(#222, #000);
    list-style-type: none;
    margin: 25px 0 25px 25px;
    box-shadow:inset 0 -1px 0 #fff;
    padding: 0;
    display:block;
    width: 160px;
    overflow-y:auto;
}
.no-margin #tab-container > ul,
.no-margin #tab-container > section {
    margin:0 !important;
}
#tab-container > ul > li {
    display: block;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(#333, #222);
    font-size:.9em;
    border-top:1px solid #444;
}
#tab-container > ul > li.on {
    background: linear-gradient(#555, #444);
}
#tab-container > section {
    position:relative;
    background:rgba(255,255,255,.9);
    margin:25px 25px 25px 0;
    color:#333;
    box-shadow:inset 0 -1px 0 #fff;
    overflow-y:auto;
    
    -webkit-flex:1;
    flex:3;
}
#tab-container > section > div.drop-zone {
    opacity:0;
    z-index:-1;
    overflow: hidden;
    
    -webkit-transform: scale(.8) rotateY(-90deg);
    -webkit-transition: all 400ms ease;
    -webkit-transform-origin: center center;
    -webkit-transition-delay: 0ms;
}
#tab-container > section > div.on {
    opacity:1;
    z-index:1;
    background: #fff;
    
    -webkit-transform: scale(1) rotateY(0deg);
    -webkit-transition: all 400ms ease;
    -webkit-transition-delay:0ms;
}

/****************************************************************/
/* LOGOS FOR SERVICES                                           */
/****************************************************************/
#services-containers > div,
#services-containers h2,
#services-contaienrs h2:before {
    text-align:center;
    -webkit-transition: all 250ms linear;
}
#services-containers > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#services-containers > div > h2:before {
    content: '';
    display: inline-block;
    width: 230px;
    height: 150px;
    background-size: 85%;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-radius: 6px;
    position:absolute;
    left:50%;
    margin-left:-115px;
    top: 50%;
    margin-top: -105px;
    
    -webkit-transition: all 250ms linear;
}
#services-containers > div.provisioned > h2:before {
    top:0;
    margin-top:0;
}
#services-containers > div > a {
    position:absolute;
}
#services-containers div.listTable {
    opacity:0;
}
.box > h2:before {
    background: url(../img/logo-box.png) no-repeat center center;
}
.dropbox > h2:before {
    background: url(../img/logo-dropbox.png) no-repeat center center;
}
.googledrive > h2:before {
    background: url(../img/logo-gdrive.png) no-repeat center center;
}
.onedrive > h2:before {
    background: url(../img/logo-onedrive.png) no-repeat center center;
}
.sharepoint > h2:before {
    background: url(../img/logo-sharepoint.png) no-repeat center center;
}

/* AFTER PROVISIONING */
#services-containers > div.provisioned > h2 {
    width:100%;
    margin:0;
}
#services-containers > div.provisioned > a.provision {
    display:none;
}
#services-containers > div.provisioned > h2:before {
    position: absolute;
    left: 115px;
    top: 0;
    height: 65px;
    width: 100%;
    background-size: 85px;
    background-position: 50% 8px;
    background-color: #fff;
    border-radius: 0;
}
#services-containers > div.provisioned > div.breadcrumb {
    position: absolute;
    top: 66px;
    height: 38px;
    width: 100%;
    background: linear-gradient(#444, #222);
    border-top: 1px solid #777;
}
#services-containers > div.provisioned > div.breadcrumb ul {
    list-style-type:none;
    width:100%;
    text-align: left;
    padding: 0;
    margin: 6px;
}
#services-containers > div.provisioned > div.breadcrumb ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    color: #888;
    font-size: 78%;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.3);
    cursor: pointer;
}
#services-containers > div.provisioned > div.breadcrumb ul li.caret {
    padding:0;
}
#services-containers > div.provisioned > div.breadcrumb ul li.caret:before {
    content: '\f105';
    font-family: 'FontAwesome';
} 
#services-containers > div.provisioned .addFilesButton {
    position: absolute;
    right: 10px;
    top: 74px;
    z-index: 1;
    color: #fff;
    font-size: 70%;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 5px 15px;
    border-radius: 5px;
    border-top: 1px solid rgba(255,255,255,.5);
    font-weight: bold;
    text-decoration: none;
}

#services-containers > div.provisioned .selectFilesButton {
    position: absolute;
    right: 120px;
    top: 74px;
    z-index: 1;
    color: #fff;
    font-size: 70%;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 5px 35px;
    border-radius: 5px;
    border-top: 1px solid rgba(255,255,255,.5);
    font-weight: bold;
    text-decoration: none;
}

#services-containers > div.provisioned > div.listTable {
   opacity: 1;
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;
    bottom: 0;
}
#services-containers > div.provisioned > div.listTable > div.scrollPanel {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
    width:100%;
}
#services-containers > div.provisioned > div.listTable ul {
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    font-size: 70%;
    
    -webkit-transition: all 150ms linear;
}
#services-containers > div.provisioned > div.listTable > ul:first-child {
    background: linear-gradient(#555, #333);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0 16px 2px rgba(255,255,255,.1), 0 -1px 0 rgba(255,255,255, .3), 0 -2px 0 rgba(0,0,0,.4), 0 1px 1px rgba(0,0,0,0.5);
    border-left: 1px solid #777;
    border-right: 1px solid #333;
    /*position:fixed;*/
    width:100%;
}
#services-containers > div.provisioned > div.listTable > ul:first-child li {
    padding: 10px 15px;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.3);
}
#services-containers > div.provisioned > div.listTable ul li:nth-child(3) {
    display: none;
}
#services-containers > div.provisioned > div.listTable ul li {
    flex:1;
    text-align:left;
    padding: 10px 15px;
    overflow:hidden;
}
#services-containers > div.provisioned > div.listTable ul li:first-child {
    width:10px;
    flex:none;
}
#services-containers > div.provisioned > div.listTable > div.scrollPanel > ul.loading {
    opacity: .4 !important;
    background: #eee !important;
    border-bottom: 1px solid #bbb;
}
#services-containers > div.provisioned > div.listTable > div.scrollPanel > ul {
    background: linear-gradient(#eee, #ddd);
    /*border-radius: 6px;*/
    /*margin: 5px 15px;*/
    box-shadow: inset 0 0 2px rgba(0,0,0,.0);
    border-top: 1px solid #fff;
    cursor: pointer;
    
    opacity:0;
    -webkit-transform: rotateX(90deg) scale(.9);
    -webkit-transition: all 250ms cubic-bezier(0.765, 0.010, 0.455, 1.305);

}
#services-containers > div.provisioned > div.listTable > div.scrollPanel > ul.on {
    opacity:1;
    
    -webkit-transform: rotateZ(0deg) scale(1);
    -webkit-transition: all 250ms cubic-bezier(0.765, 0.010, 0.455, 1.305);
}
#services-containers > div.provisioned > div.listTable > div.scrollPanel > ul li:nth-child(2):before {
    content: '\f15c';
    display:inline;
    font-family: 'FontAwesome';
    font-size: 13px;
    margin-right: 8px;
}
#services-containers > div.provisioned > div.listTable > div.scrollPanel > ul li.foldername:before {
    content: '\f07b';
}
/*****************************/
/* FILE INFO BOX             */
/*****************************/
#tab-container > #file-info {
    width:0;
    flex:none;
    margin: 25px 25px 25px -25px;
    background: #666;
    box-shadow: -1px 0 3px rgba(0,0,0,.2);
    
    -webkit-transition: all 250ms ease;
}
#tab-container > #file-info.show {
    width:330px;
}
#tab-container > #file-info > .preview {
    height: 200px;
    background: rgba(0,0,0,.2);
    box-shadow: inset 0 -2px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
    overflow:hidden;
}
#tab-container > #file-info > h2 {
    margin-left: 15px;
    font-size: 90%;
    color: #fff;
    font-weight: normal;
    background: rgba(0,0,0,.3);
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 15px;
    box-shadow: 0 1px 0 #777;
}
#tab-container > #file-info > .preview:empty:before {
    content: '\f03e';
    display: block;
    width: 100%;
    height: 100%;
    font-family: FontAwesome;
    font-size: 650%;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.1);
}
#tab-container > #file-info > .preview a.close:after {
    content: '\f061';
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: FontAwesome;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    text-shadow: none;
    box-shadow: none;
    background: rgba(0,0,0,.5);
    border-radius: 45px;
    padding: 5px 8px;
}
#tab-container > #file-info > .fileDetails > ul {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    color: #fff;
    font-size: 80%;
}
#tab-container > #file-info > .fileDetails > ul li {
    margin-right:10px;
    display:block;
    flex: 1;
    word-wrap: break-word;
}
#tab-container > #file-info > .fileDetails > ul li:first-child {
    flex:none;
    width:60px;
}
#tab-container > #file-info > .fileDetails a {
    display: inline-block;
    background: rgba(0,0,0,.3);
    padding: 10px 15px;
    width: auto;
    color: #fff;
    font-size: 60%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid rgba(255,255,255,.4);
    margin: 5px 0px 5px 16px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
#tab-container > #file-info > .preview img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
/**********************************/
/* DRAG NOTIFICATION CONTAINER    */
/**********************************/
.drop-zone.drop-helper:before {
    content: 'drag files here';
    opacity:1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    margin: 99px 0 0 0;
    -webkit-transition: all 250ms ease;
    z-index: 100;
    color: #fff;
    
    -webkit-transition: all 250ms ease;
}

/* LOADING BOX */
#loading {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    opacity: 0;
    background: #000;
    width: 60px;
    height: 60px;
    margin-top:-30px;
    margin-left:-30px;
    border-radius: 8px;
    background: #000 url('../img/spinner.gif') no-repeat 54% 50%;
    
    -webkit-transition: all 250ms ease-in;
}
#loading.show {
    opacity:1;
    z-index:500;
}

/* ERROR BOX */
#error {
    background: #e74c3c;
    height: 100px;
    width: 350px;
    display: block;
    position: absolute;
    top:-50%;
    left:50%;
    margin-left: -80px;
    margin-top: -50px;
    opacity:0;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    border-top: 1px solid #fff;
    
    -webkit-transition: all 250ms ease-in;
}
#error.show {
    top: 50%;
    z-index: 5;
}
#error:before {
    content: '\f071';
    position: absolute;
    left: 24px;
    top: 34px;
    font-family: FontAwesome;
    font-size: 210%;
    color: #fff;
}